header {
  position: absolute;
  top: 0;
  width: 97.2%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  background-color: #174f69;
  color: aliceblue;
  font-size: 20px;
  border-bottom: 2px solid #ddd;
}

a {
  text-decoration: none;
  color: aliceblue;
}

header ul {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 0;
}

header ul li {
  display: inline;
}


body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  max-height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #174f69;
}

button {
  background-color: #4caf50;
  color: aliceblue;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  margin-top: 20px;
  margin-bottom: 20px;
}

button:hover {
  background-color: #45a049;
}

#addresses {
  width: 80%;
  max-width: 500px;
  background-color: rgb(255, 255, 255);
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  text-align: left;
  display: flex;
  flex-direction: column;
}

.content {
  font-size: 16px;
  color: rgb(0, 0, 0);
  line-height: 1.6;
}

h2{
  line-height: 1.6;
  color: rgb(0, 0, 0);
}

input{
  margin-bottom: 10px;
}